* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid rgba(240, 80, 50);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

span {
    color: rgba(240, 80, 50);
}

.navlogo {
    height: 60px;
    width: 76px;
    font-size: x-large;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: bolder;
    background-color: rgba(240, 80, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-items {
    height: 60px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: none;
    outline: none;
    background-color: #ffffff;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    color: red;
    font-size: large;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.items>a {
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.items>a:hover {
    color: rgba(240, 80, 50);
    font-size: large;
}

.items>a:active {
    color: rgb(254, 44, 7);
}

.itmes_contact {
    display: flex;
    align-items: center;
}

.ri-headphone-fill {
    font-size: large;
    color: rgba(240, 80, 50);
}

.heading {
    height: 270px;
    font-size: larger;
    padding-top: 200px;
    color: aliceblue;
}

.heading1 {
    font-size: 25px;
}

.heading2 {
    font-size: 55px;
    font-weight: bold;

}

.heading3 {
    font-size: 22px;
    margin-top: 10px;
}

.btn {
    background-color: rgba(240, 80, 50);
    color: aliceblue;
    font-size: x-large;
    font-weight: 400;
    border: none;
    padding: 13px;
    text-align: center;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(254, 44, 7);
}

.btn2 {
    background-color: rgb(5, 153, 212);
    color: aliceblue;
    font-size: x-large;
    font-weight: 400;
    border: none;
    padding: 13px;
    text-align: center;
    cursor: pointer;

}

.btn2:hover {
    background-color: rgb(3, 133, 185);
}

.home__content {
    margin-left: 100px;
}

.background__image {
    background-color: rgba(36, 36, 36, 0.598);
    background-image: url("carousel-2.jpg");
    background-size: cover;
    height: 800px;
    width: 100%;
    background-blend-mode: darken;
}

/*****************************************about us***************************************/

.contant1 {
    height: 800px;
    display: flex;

}

.con-1 {
    display: flex;
    align-items: center;
}

.img {
    height: 450px;
    width: 700px;
    background-image: url("about.jpg");
    background-size: cover;
}

.con-2 {
    margin-left: 50px;
    margin-top: 180px;

}

.text1 {
    color: rgb(19, 216, 255);
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bolder;
}

.text2 {
    font-size: 35px;
    font-weight: bolder;
}

.text3 {
    color: rgba(0, 0, 0, 0.498);
    font-size: 15px;
    padding-top: 15px;
}

.icons {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}

.ri-global-fill {
    display: flex;
    font-size: 35px;
    color: rgba(240, 80, 50);
    padding-bottom: 10px;
}

.ri-truck-fill {
    display: flex;
    font-size: 35px;
    color: rgba(240, 80, 50);
    padding-bottom: 10px;
}

.one {
    padding-right: 55px;
    font-size: 15px;
    font-weight: bolder;
}

.p {
    color: rgba(0, 0, 0, 0.498);
    font-size: 15px;
    font-weight: lighter;
    padding-top: 8px;
}

.btn1 {
    background-color: rgba(240, 80, 50);
    color: aliceblue;
    font-size: x-large;
    font-weight: 400;
    border: none;
    padding: 13px;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;

}

.btn1:hover {
    background-color: rgb(254, 44, 7);
}

/* Show Scroll Up */
.show-scroll {
    bottom: 3rem;
    font-size: larger;
    color: rgba(240, 80, 50);

}

/* **************************************some facts******************************************* */


.container__fact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;

}

.section_fact1 {
    padding-left: 100px;
}

.button {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.button_contant {
    padding-left: 15px;
}

.section_fact2 {
    display: flex;
    align-items: center;
}

.box1 {
    width: 200px;
    height: 120px;
    background-color: rgba(240, 80, 50);
    padding: 10px;
    margin: 15px;
    box-shadow: 15px 6px 47px 6px rgba(0, 0, 0, 0.21);
}

.box2 {
    width: 200px;
    height: 120px;
    background-color: rgb(43, 215, 0);
    padding: 10px;
    box-shadow: 15px 6px 47px 6px rgba(0, 0, 0, 0.21);

}

.box3 {
    width: 200px;
    height: 120px;
    background-color: rgb(0, 217, 255);
    padding: 10px;
    margin: 15px;
    box-shadow: 15px 6px 47px 6px rgba(0, 0, 0, 0.21);

}

.icons_facts {
    font-size: xx-large;
    color: white;
}

.tex1 {
    font-size: x-large;
    color: white;
    font-weight: bold;
}

.tex2 {
    font-size: 15px;
    color: white;
}

/* *************************************scroll bar************************** */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8f8b8b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* *************************************Services************************** */
.section_services {
    margin-top: 100px;
    margin-bottom: 100px;
}

.section_services1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_services2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 10px;
}

.services__card {
    background-color: white;
    padding: 24px;
    border-radius: 10px;
    height: 340px;
    width: 248px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 15px 6px 47px 6px rgba(0, 0, 0, 0.21);
}

.services_img {
    height: 149px;
    width: 248px;
}

.services__title {
    font-size: 25px;
    margin-bottom: 15px;
}

.services__description {
    font-size: 15px;
    padding-bottom: 15px;
}

.btn5 {
    border-radius: 10px;
    font-size: 20px;
}

.services__card:hover {
    border: 2px solid rgb(254, 44, 7);
}

/***************************************feature***********************************/

.feature__section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feature>i {
    color: rgb(249, 80, 50);
    font-size: 50px;
    padding-right: 20px;
}

.feature_heading {
    margin-bottom: 30px;
}

.feature_contant {
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature_contant>strong {
    font-size: px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature__img {
    height: 450px;
    width: 700px;
    background-image: url("feature.jpg");
    background-size: cover;
    margin-right: -130px;

}

/***************************************pricing***********************************/

.section__Pricing {
    margin-top: 100px;
    margin-bottom: 100px;
}

.section__Pricing1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__Pricing2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pricing__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.Pricing__card {
    height: 430px;
    width: 350px;
    background-color: white;
    margin: 25px;
    padding-top: 30px;
    box-shadow: 15px 6px 47px 6px rgba(0, 0, 0, 0.21);
}

.dollar {
    vertical-align: text-top;
}

hr {
    color: black;
}

.pricing__header {
    font-size: 25px;
    padding-left: 20px;
}

.Pricing__title {
    font-size: 45px;
    padding-left: 20px;
}

.Pricing__title>span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.Pricing__description {
    font-size: 20px;
    font-weight: lighter;
    list-style: none;
    padding-left: 20px;
}

.Pricing__description>li {
    margin-top: 16px;
    margin-bottom: 12px;
}

.ri-check-fill {
    color: rgb(3, 159, 3);
    font-weight: bold;
}

.btn1 {
    margin-left: 20px;
}

/***************************************Contact Us***********************************/
.container__contact{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.section_contact2{
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 700px;
    height: 300px;
    padding: 40px;
    background-color: rgb(235, 230, 218);

}

input{
    height: 40px;
    width: 300px;
    padding: 6px 12px;
    margin: 6px;
    border: 3px solid white;
}

#Frieght{
    height: 53px;
    width: 327px;
    padding: 6px 12px;
    margin: 6px;
    border: 3px solid white;
}

#Special_Note{
    height: 80px;
    width: 640px;
    padding: 6px 12px;
    margin: 6px;
    border: 3px solid white;
}

.button1{
    height: 40px;
    width: 665px;
    margin: 6px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(249, 80, 50);
    color: white;
    border: none;

}

/***************************************Footer***********************************/

.footer__section{
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    border: 1px solid ;
    left: 0;
    bottom: -200px;
    /* background-image: url("map.png");
    background-size: cover; */
    /* background-position: bottom left; */
    /* margin-bottom: -50px; */
    background-color: black;
    color: white;

}

.head{
    margin: 20px 0 20px 0;
   
}

.footer__contant{
    display: flex;
    justify-content: space-evenly;
}

.address__cont{
    display: flex;
    margin-bottom: 5px;
}

.address{
    margin-bottom: 30px;
}

.footer__img{
    background-image: url("map.png");
    background-size: cover;
    height: 500px ;
    width: 100%;
}

.copyright{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px ;
}

.address__cont>input{
    border: 2px solid black;
}